<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<body>
<footer th:fragment="colorMenu">
    <div class="right-bar style-bar">
        <div class="right-bar-fluid">
            <div class="tpl-header-text">
                配色方案
            </div>
            <ul class="style-item clearfix" id="style-list">
                <li data-style="tpl-black-n">
                    <div class="header-style"></div>
                    <div class="left-style black">
                        <div class="logo-style"></div>
                    </div>
                </li>
                <li data-style="tpl-black-hn">
                    <div class="header-style black-child"></div>
                    <div class="left-style black">
                        <div class="logo-style"></div>
                    </div>
                </li>
                <li data-style="tpl-red-hn">
                    <div class="header-style red-child"></div>
                    <div class="left-style red">
                        <div class="logo-style"></div>
                    </div>
                </li>
                <li data-style="tpl-red-n">
                    <div class="header-style"></div>
                    <div class="left-style red">
                        <div class="logo-style"></div>
                    </div>
                </li>
                <li data-style="tpl-blackred-hn">
                    <div class="header-style red"></div>
                    <div class="left-style black">
                        <div class="logo-style"></div>
                    </div>
                </li>
                <li data-style="tpl-blackgreen-hn">
                    <div class="header-style green"></div>
                    <div class="left-style black">
                        <div class="logo-style"></div>
                    </div>
                </li>
                <li data-style="tpl-green-hn">
                    <div class="header-style green-child"></div>
                    <div class="left-style green">
                        <div class="logo-style"></div>
                    </div>
                </li>
                <li data-style="tpl-green-n">
                    <div class="header-style"></div>
                    <div class="left-style green">
                        <div class="logo-style"></div>
                    </div>
                </li>
                <li data-style="tpl-white-hn">
                    <div class="header-style"></div>
                    <div class="left-style white">
                        <div class="logo-style"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>