<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<body>
<div th:fragment="editionMenu" class="layui-col-md4">
    <div class="fpl-fluid">
        <div class="layui-col-md12">
            <div class="tpl-card">
                <div class="tpl-card-title">版本信息</div>
                <div class="card-pannel">
                    <table class="layui-table" style="margin:0">
                        <colgroup>
                            <col width="100">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <td>当前版本</td>
                            <td>s1.0 pro <a href="javascript:;" class="card-a">更新日志</a></td>
                        </tr>
                        <tr>
                            <td>PHP环境</td>
                            <td>php 7.0.12-nts + Apche</td>
                        </tr>
                        <tr>
                            <td>数据库</td>
                            <td>mySql</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="tpl-card">
                <div class="tpl-card-title">版本信息</div>
                <div class="card-pannel">
                    <table class="layui-table" style="margin:0">
                        <colgroup>
                            <col width="100">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <td>当前版本</td>
                            <td>s1.0 pro <a href="javascript:;" class="card-a">更新日志</a></td>
                        </tr>
                        <tr>
                            <td>PHP环境</td>
                            <td>php 7.0.12-nts + Apche</td>
                        </tr>
                        <tr>
                            <td>数据库</td>
                            <td>mySql</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="tpl-card">
                <div class="tpl-card-title">版本信息</div>
                <div class="card-pannel">
                    <table class="layui-table" style="margin:0">
                        <colgroup>
                            <col width="100">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <td>当前版本</td>
                            <td>s1.0 pro <a href="javascript:;" class="card-a">更新日志</a></td>
                        </tr>
                        <tr>
                            <td>PHP环境</td>
                            <td>php 7.0.12-nts + Apche</td>
                        </tr>
                        <tr>
                            <td>数据库</td>
                            <td>mySql</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="tpl-card">
                <div class="tpl-card-title">版本信息</div>
                <div class="card-pannel">
                    <table class="layui-table" style="margin:0">
                        <colgroup>
                            <col width="100">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <td>当前版本</td>
                            <td>s1.0 pro <a href="javascript:;" class="card-a">更新日志</a></td>
                        </tr>
                        <tr>
                            <td>PHP环境</td>
                            <td>php 7.0.12-nts + Apche</td>
                        </tr>
                        <tr>
                            <td>数据库</td>
                            <td>mySql</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="tpl-card">
                <div class="tpl-card-title">版本信息</div>
                <div class="card-pannel">
                    <table class="layui-table" style="margin:0">
                        <colgroup>
                            <col width="100">
                            <col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <td>当前版本</td>
                            <td>s1.0 pro <a href="javascript:;" class="card-a">更新日志</a></td>
                        </tr>
                        <tr>
                            <td>PHP环境</td>
                            <td>php 7.0.12-nts + Apche</td>
                        </tr>
                        <tr>
                            <td>数据库</td>
                            <td>mySql</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>