<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<body>
<footer th:fragment="userMenu">
    <div class="right-bar user-bar">
        <div class="right-bar-fluid">
            <div class="tpl-card">
                <div class="card-pannel">
                    <div class="user-item">
                        <img class="user-upload" th:src="@{/static/images/4a251abe82900c79733daa753664f701.jpg}">
                        <h4 class="user-name">admin</h4>
                        <p>时间模糊了很多东西，我依然爱你</p>
                        <div class="user-tips">
                            <a href="javascript:;" data-tips="13138003682"><i class="fa fa-phone"></i></a>
                            <a href="javascript:;" data-tips="you can goin!"><i class="fa fa-star"></i></a>
                            <a href="javascript:;" data-tips="547720744"><i class="fa fa-qq"></i></a>
                            <a href="javascript:;" data-tips="Mr.LIU"><i class="fa fa-wechat"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>