<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer_1">
    <div class="footer" data-scroll-reveal="enter bottom over 1s and move 50px">
        <div class="w1280">
            <div class="fl div1">
                <a href="" class="logo"><img th:src="@{/static/img/logo-d.png}"/></a>
                <div>
                    投资有风险<br/> 选择需谨慎
                </div>
            </div>
            <div class="fl">
                <p>
                    <a href="">关于我们</a>
                    <a href="">产品展示</a>
                    <a href="">新闻中心</a>
                    <a href="">门店分布</a>
                    <a href="">招商加盟</a>
                    <a href="">联系我们</a>
                </p>
                <div class="info">
                    <h3>全国免费加盟热线</h3>
                    <h2><img th:src="@{/static/img/n1.png}" alt=""/></h2>
                    <p>版权所有<br/>Copyright 2018-2030 All rights reserved </p>
                </div>
            </div>
            <div class="code">
                <div class="code1">
                    <a href="javascript:void(0)" class="wx1">线上花甲官方微信<i></i>
                        <img th:src="@{/static/img/code.png}" alt=""/>
                    </a>
                </div>
                <div class="code2">
                    <a href="javascript:void(0)" class="wx1">路可餐饮官方微信<i></i>
                        <img th:src="@{/static/img/code.png}" alt=""/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>