<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headMenu">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit"/>
    <meta name="description" content="当前测试">
    <meta name="author" content="hide">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title th:text="${title}">产品首页</title>

    <script type="text/javascript" th:src="@{/static/js/jquery-2.1.4.js}"></script>
    <!--<script th:src="@{/static/js/jquery-1.11.1.min.js}"></script>-->
    <script type="text/javascript" th:src="@{/static/js/raphael-min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/chinaMapConfig.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/map-min.js}"></script>
    <script th:src="@{/static/js/jquery.SuperSlide.2.1.1.js}"></script>
    <script th:src="@{/static/js/plugin.js}"></script>
    <script th:src="@{/static/js/index.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/more.js}"></script>
    <script th:src="@{/static/js/scrollbar.js}"></script>
    <script th:src="@{/static/js/scrollReveal.js}"></script>
    <script th:src="@{/static/js/script.js}"></script>

    <script th:src="@{/static/js/echarts.min.js}"></script>

    <link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/swiper.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/lightbox.css}"/>
</head>
</html>

