<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="top_1">
    <div class="top">
        <div class="w1280 clearfix">
            <a href="" class="logo fl">
                <img th:src="@{/static/img/logo.png}" alt=""/>
            </a>
            <div class="fr clearfix">
                <div class="fr tel">
                    <h3>全国免费加盟热线 <img th:src="@{/static/img/tel.png}" alt=""/><img th:src="@{/static/img/n2.png}"
                                                                                   alt=""/>
                    </h3>
                </div>
                <div class="clearfix"></div>
                <ul class="clearfix navbar">
                    <li>
                        <a href="index.html">首 页<b></b></a>
                    </li>
                    <li>
                        <a href="aboutus.html">关于我们<b></b></a>
                    </li>
                    <li>
                        <a href="products.html">产品展示<b></b></a>
                    </li>
                    <li>
                        <a href="newslist.html">新闻中心<b></b></a>
                    </li>
                    <li>
                        <a href="branch.html">门店分布<b></b></a>
                    </li>
                    <li>
                        <a href="joinus.html">招商加盟<b></b></a>
                    </li>
                    <li>
                        <a href="contactus.html">联系我们<b></b></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</footer>
</body>
</html>