<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="tools/head :: headMenu" th:with="title='登录须知'">
</head>
<body class="weui-toast_content">
<article class="weui-article">
    <section>
        <p>小样视界登录协议</p>

        <p>欢迎使用小样视界</p> 　　 　　
        <p>
            为更好使用“小样视界”公众号（以下统称“本公众号”）及服务，您应当阅读并遵守《“小样视界”公众号许可及服务协议》（以下简称“本协议”）。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。限制、免责条款可能以加粗形式提示您注意。您的使用、登录等行为即视为您已阅读并同意本协议的约束。
            同时本产品为线上信息服务类产品，一经购买即享受本公众号所有服务，因而不支持退货行为，请知悉！</p>
        <p>一、【协议的范围】 　　</p>
        <p>1.1【协议适用主体范围】 　　
            本协议是您与小样视界科技服务有限公司（以下简称“小样视界”）之间关于您使用、登录本平台，以及使用本服务所订立的协议。 </p>　　
        <p>1.2【协议关系及冲突条款】
            　　本协议的内容，包括但不限于以下与本服务、本协议相关的协议、规则、规范以及小卡精灵可能不断发布的关于本服务的相关内容，前述内容一经正式发布，即为本协议不可分割的组成部分，与其构成统一整体，您同样应当遵守。</p>
    </section>
</article>
</body>
</html>