<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="tools/head :: headMenu" th:with="title='用户登录页面'"></head>
<body>
<div th:replace="tools/top::top_1"></div>

<div class="neibanner xinwen-banner  chanpin-banner">
    <div class="w1280">
        <div class="neibanner-text" data-scroll-reveal="enter left over 1s and move 50px">
            <div class="nei-tit">
                <h1>
                    <strong>关于我们</strong>
                    <b>ABOUT US</b>
                    <img src="img/bolang3.png" alt=""/>
                </h1>
            </div>
            <p>
                与我们一起阅读线上花甲的最新讯息。<br/>
                自创立起，线上花甲就在坚持和延续地道美食传承，<br/>
                将鲜、香、麻、辣的体验，<br/>
                带向不同的城市和不同的消费者，<br/>
                并为他们创造了独一无二的，<br/>
                爱与美食文化和美食体验。
            </p>
            <p class="p1">
                全国免费加盟热线：<br/>
                <b>4008-557-558</b>
            </p>
            <p>
                线上花甲全国加盟店总计750余家<br/>
                门店已遍布全国158座城市<br/>
                线上花甲年销量超10000000份
            </p>

        </div>
    </div>
</div>


<div class="xinwen-sec1" data-scroll-reveal="enter bottom over 1s and move 50px">
    <div class="w1280">
        <div class="xinwen-tit">
            <h2>品牌活动</h2>
            <h3>BRAND ACTIVITY <img src="img/bolang3.png" alt=""/></h3>
        </div>
        <figure><img src="img/xinwen-tu.png" alt=""/></figure>
        <figcaption>
            <h3>
                <span>2018/10/19</span>
                线上花甲品牌焕新<br/>
                ——2018线上花甲品牌升级2.0发布
            </h3>
            <p>
                线上花甲的创新脚步从未停止，全新2代品牌形象升级，门店利用现代空间美学，融入现代
                潮流元素，让整个门店充满个性和温馨色彩，打造出一个更受年轻人青睐、简约、时尚的
                用餐氛围。
            </p>
            <a href="" class="morebtn">> More</a>
        </figcaption>
    </div>
</div>
<div class="xinwen-sec2" data-scroll-reveal="enter bottom over 1s and move 50px">
    <div class="w1280">
        <div class="xinwen-tit">
            <h2>新闻资讯</h2>
            <h3>NEWS INFORMATION <img src="img/bolang3.png" alt=""/></h3>
        </div>

        <ul class="xinwen-list clearfix">
            <li>
                <a href="newsdetails.html">
                    <figure>
                        <img src="img/xinwen-tu2.png" alt=""/>
                        <div class="xinwen-text">
                            <h1>加盟多少钱，线上花甲的利润怎么样</h1>
                            <p>
                                陈磊明，蚂蚁金服集团首席法务合规官
                                今天《华尔街日报》刊发了一则报道，其中包含关
                                于蚂蚁金服的错误信息。这篇报道基于来自匿名信
                                源所做出的毫无事实依据的指控，充斥着基于互不相关的事实以及时
                                间巧合的影射。因此，我们必须澄清事实真相。
                            </p>
                        </div>
                    </figure>
                    <h2>2018.10.24</h2>
                </a>
            </li>
            <li>
                <a href="newsdetails.html">
                    <figure>
                        <img src="img/xinwen-tu2.png" alt=""/>
                        <div class="xinwen-text">
                            <h1>加盟多少钱，线上花甲的利润怎么样</h1>
                            <p>
                                陈磊明，蚂蚁金服集团首席法务合规官
                                今天《华尔街日报》刊发了一则报道，其中包含关
                                于蚂蚁金服的错误信息。这篇报道基于来自匿名信
                                源所做出的毫无事实依据的指控，充斥着基于互不相关的事实以及时
                                间巧合的影射。因此，我们必须澄清事实真相。
                            </p>
                        </div>
                    </figure>
                    <h2>2018.10.24</h2>
                </a>
            </li>
            <li>
                <a href="newsdetails.html">
                    <figure>
                        <img src="img/xinwen-tu2.png" alt=""/>
                        <div class="xinwen-text">
                            <h1>加盟多少钱，线上花甲的利润怎么样</h1>
                            <p>
                                陈磊明，蚂蚁金服集团首席法务合规官
                                今天《华尔街日报》刊发了一则报道，其中包含关
                                于蚂蚁金服的错误信息。这篇报道基于来自匿名信
                                源所做出的毫无事实依据的指控，充斥着基于互不相关的事实以及时
                                间巧合的影射。因此，我们必须澄清事实真相。
                            </p>
                        </div>
                    </figure>
                    <h2>2018.10.24</h2>
                </a>
            </li>
            <li>
                <a href="newsdetails.html">
                    <figure>
                        <img src="img/xinwen-tu2.png" alt=""/>
                        <div class="xinwen-text">
                            <h1>加盟多少钱，线上花甲的利润怎么样</h1>
                            <p>
                                陈磊明，蚂蚁金服集团首席法务合规官
                                今天《华尔街日报》刊发了一则报道，其中包含关
                                于蚂蚁金服的错误信息。这篇报道基于来自匿名信
                                源所做出的毫无事实依据的指控，充斥着基于互不相关的事实以及时
                                间巧合的影射。因此，我们必须澄清事实真相。
                            </p>
                        </div>
                    </figure>
                    <h2>2018.10.24</h2>
                </a>
            </li>

            <li>
                <a href="newsdetails.html">
                    <figure>
                        <img src="img/xinwen-tu2.png" alt=""/>
                        <div class="xinwen-text">
                            <h1>加盟多少钱，线上花甲的利润怎么样</h1>
                            <p>
                                陈磊明，蚂蚁金服集团首席法务合规官
                                今天《华尔街日报》刊发了一则报道，其中包含关
                                于蚂蚁金服的错误信息。这篇报道基于来自匿名信
                                源所做出的毫无事实依据的指控，充斥着基于互不相关的事实以及时
                                间巧合的影射。因此，我们必须澄清事实真相。
                            </p>
                        </div>
                    </figure>
                    <h2>2018.10.24</h2>
                </a>
            </li>
            <li>
                <a href="newsdetails.html">
                    <figure>
                        <img src="img/xinwen-tu2.png" alt=""/>
                        <div class="xinwen-text">
                            <h1>加盟多少钱，线上花甲的利润怎么样</h1>
                            <p>
                                陈磊明，蚂蚁金服集团首席法务合规官
                                今天《华尔街日报》刊发了一则报道，其中包含关
                                于蚂蚁金服的错误信息。这篇报道基于来自匿名信
                                源所做出的毫无事实依据的指控，充斥着基于互不相关的事实以及时
                                间巧合的影射。因此，我们必须澄清事实真相。
                            </p>
                        </div>
                    </figure>
                    <h2>2018.10.24</h2>
                </a>
            </li>
        </ul>

        <div class="fenye">
            <span class="prev"><</span>
            <span>1</span>
            <span class="on">2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span>6</span>
            <span class="next">></span>
        </div>
    </div>
</div>

<div th:replace="tools/footer::footer_1"></div>
<script>
    window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')
</script>

<script>

    (function () {
        window.scrollReveal = new scrollReveal({
            reset: true,
            move: '50px'
        });
    })();

    //导航
    $(window).scroll(function () {
        var ST = $(window).scrollTop();
        if (ST > 0) {
            $('.top').addClass('on');
        } else {
            $('.top').removeClass('on')
        }
    })
</script>


<script type="text/javascript">
    $(document).ready(function (e) {
        lc_lightbox('.elem', {
            wrap_class: 'lcl_fade_oc',
            gallery: true,
            thumb_attr: 'data-lcl-thumb',
            skin: 'minimal',
            radius: 0,
            padding: 0,
            border_w: 0,
        });

    });
</script>
</body>

</html>