<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wechat.dao.customer.BannerInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.wechat.entity.customer.BannerInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="banner_name" jdbcType="VARCHAR" property="bannerName" />
    <result column="banner_url" jdbcType="VARCHAR" property="bannerUrl" />
    <result column="banner_code" jdbcType="VARCHAR" property="bannerCode" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
  </resultMap>
</mapper>